@using CoolVacationT.Common
@using CoolVacationT.Web.ViewModels.Administration.ViewModels
@model PaymentAdminAllViewModel
@{
    ViewData["Title"] = "GetAllPaymnets";
}

<h1 class="display-3">Here are all the payments</h1>
<p> </p>
@foreach (var payment in Model.Payments.OrderByDescending(x => x.CreatedOn))
{
<div class="card" style="width: 72rem;">
    <div class="alert alert-danger">
        Id -> @payment.Id
    </div>

    <ul class="list-group list-group-flush">
        <li class="list-group-item">Amount paid -> @payment.AmountPaid</li>
        <li class="list-group-item">Document number -> @payment.DocumentNumber</li>
        <li class="list-group-item">Created On -> @payment.CreatedOn</li>
    </ul>
    @if (payment.StringFileCloud != null)
    {
        <img src="@payment.StringFileCloud" class="img-fluid" />
    }
</div>
    <p> </p>
}



